@font-face {
  font-family: "omyupretty";
  src: url("../font/omyupretty.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "intelonemono";
  src: url("../font/intelonemono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 458px) {
  #services .contents {
    justify-content: center !important;
  }
}
.omyupretty {
  font-family: "omyupretty";
}

.logo1 span {
  font-family: "omyupretty";
}

.logo2 {
  color: black;
  font-weight: 100;
  font-size: 2rem;
  margin-top: -48px;
}

#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-bottom: 1px solid rgba(64, 66, 67, 0.4);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: royalblue;
}

.contents {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 10px;
  margin: 20px auto;
  width: 1200px;
  position: relative;
}

.box1 {
  border: 2px solid plum;
  border-radius: 20px;
  background-color: rgb(196, 227, 251);
}

.box2 {
  border: 2px solid plum;
  border-radius: 20px;
  background-color: rgb(196, 227, 251);
}

.box3 {
  border: 2px solid plum;
  border-radius: 20px;
  background-color: rgb(196, 227, 251);
}

.s_list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.s_list p img {
  width: 150px;
}

.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border-bottom: 1px solid #9fa4a8;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  margin: 0 35px 0 0;
}

.faq-text {
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .bi-caret-up-fill {
  display: none;
}

.faq.active .faq-toggle .bi-caret-up-fill {
  color: #fff;
  display: block;
}

.faq.active .faq-toggle .bi-caret-down-fill {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #9fa4a8;
}

.icons a img {
  height: 26px;
}

#contact .cats {
  height: 373px !important;
}

.footers {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  text-align: center;
}

.story {
  text-align: center;
}

.story:after {
  content: "/";
  display: block;
  padding: 20px 0;
  font-weight: 300;
  font-size: 30px;
  color: #425a73;
  opacity: 0.3;
  text-align: center;
}

.pors {
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.mnu {
  width: 905px;
  margin: 0 auto 20px;
}

.mnu > li {
  float: left;
  margin-left: 20px;
  font-size: 20px;
}

.mnu > li:first-child {
  margin-left: 0;
}

.mnu > li > a {
  display: block;
  padding: 1px 1px;
  height: 40px;
  line-height: 40px;
  transition: all 0.4s;
  color: black;
  font-weight: 400;
  font-size: 19px;
  text-decoration-line: none !important;
  list-style: none !important;
}

.mnu > li:after {
  content: "|";
  display: block;
  margin: -25px 0 0 -10px;
  font-size: 12px;
  color: #ccc;
}

.mnu > li:first-child:after {
  content: "";
}

.mnu > li.on > a {
  color: #425a73;
  font-weight: 700;
  font-size: 19px;
  background-color: rgba(158, 213, 246, 0.5);
  border-radius: 5px;
  text-decoration-line: none !important;
  list-style: none !important;
}

.view {
  position: relative;
  width: 1200px;
  height: 540px;
}